{% set caddy = salt.grains.filter_by({
    'default': {
        'user': 'caddy',
        'version': '2.1.1',
        'data_dir': '/var/lib/caddy/',
        'log_dir': '/var/log/caddy/',
        'enable_api': False,
        'install_from_repo': True,
        'download_url': 'https://github.com/caddyserver/caddy/releases/download/',
        'pkgs': ['caddy'],
        'service': 'caddy',
        'config_file': '/etc/caddy/caddy.json',
        'custom_build': {},
        'config': {
        },
    },
    'Debian': {
        'repo_url': 'https://apt.fury.io/caddy/'
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('caddy'), base='default') %}
