[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target

[Service]
User=caddy
Group=caddy
ExecStart=/usr/local/bin/caddy run --environ --config {{ config_file }} {% if enable_api %}--resume{% endif %}
ExecReload=/usr/local/bin/caddy reload --config {{ config_file }}
TimeoutStopSec=5s
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
